.contact-card {
  padding-bottom: 15px;
  margin-right: -15px;

  .contact-card-info {
    height: 290px;
    max-width: 245px;
    border: 1px solid grey;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: white;



    .contact-img {
      padding: 10px;
      position: relative;
      height: 230px;

      .profile-img {
        margin: auto;
        height: 210px;
        width: 220px;
        position: relative;
      }
    }

    .badge-img {
      position: absolute;
      height: 36px;
      width: 36px;
      top: -25px;
      left: 10px;
      z-index: 1;
    }

    .name {
      font-size: 12px;
      font-weight: bold;
    }

    .company-info {
      font-size: 10px;
      padding-bottom: 30px;
    }

    .contact-info {
      padding: 15px 10px 10px 10px;
      width: 100%;
      top: 75%;
      position: absolute;
      transition: all 0.6s ease-in-out;
      -moz-transition: all 0.5s;
      background: white;

      .phone-number {
        font-size: 12px;
      }

      .email {
        font-size: 12px;
      }
    }
  }

  .contact-card-info:hover .contact-info {
    top: 130px;
    display: block !important;
    background: white;
  }

}
