.contact-list-header {
  height: 100px;
  border-bottom: #e5e3e5 1px solid; }
  .contact-list-header .title {
    font-size: 24px; }
  .contact-list-header .vert-center {
    display: flex;
    height: 100%;
    align-items: center;
    background: red; }

.contact-list {
  background-color: #f0eff0;
  height: 100%; }
  .contact-list .contacts {
    list-style: none; }
    .contact-list .contacts .contact-card {
      padding-bottom: 15px;
      margin-right: -15px; }
      .contact-list .contacts .contact-card .contact-card-info {
        height: 290px;
        max-width: 245px;
        padding: 10px;
        border: 1px solid grey;
        margin: auto; }
        .contact-list .contacts .contact-card .contact-card-info .contact-img {
          position: relative;
          height: 230px; }
          .contact-list .contacts .contact-card .contact-card-info .contact-img .profile-img {
            margin: auto;
            height: 210px;
            width: 220px;
            position: relative; }
          .contact-list .contacts .contact-card .contact-card-info .contact-img .badge-img {
            position: absolute;
            height: 36px;
            width: 36px;
            top: 190px;
            left: 0px;
            z-index: 1; }
        .contact-list .contacts .contact-card .contact-card-info .name {
          font-size: 12px;
          font-weight: bold; }
        .contact-list .contacts .contact-card .contact-card-info .company-info {
          font-size: 10px;
          padding-bottom: 10px; }

.no-gutter {
  padding-left: 0;
  padding-right: 0; }
