<div class="contact-list">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="col-sm-3 col-md-3 navbar-header title">
        <div class="navbar-brand">
          Contact List
        </div>
      </div>

      <div class="col-sm-6 col-md-6 pull-right custom-search-bar">
            <form class="navbar-form custom-form" role="search">
                <div class="input-group">
                    <input type="text" class="search-query form-control" placeholder="Search" ng-model="$ctrl.query" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>


    </div>
  </nav>


  <div class="contact-list-body container">
      <div class="spinner" ng-show="$ctrl.displayContacts">
          <img ng-src="img/ring-alt.gif"></img>
      </div>

      <ul class="contacts">
        <contact-card ng-repeat="contact in $ctrl.contacts | filter:$ctrl.query"
                      contact="contact">
        </contact-card>
      </ul>

  </div>

</div>
